.booking-details{

    text-align: start;
    
}

.booking-details img{
    width: 100%;
}

.my-order{
    margin: 20px;
    display: flex;
    color: white;
    background-color: black;
    
}

.my-order-form{
   margin-top: 50px;
}
.my-order-form form{
    margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;

}

.my-order-form form h2{
   
color: gray;
font-size: medium;
margin-top: 10px;
}

.my-order-form form input{
    
    
    margin: 5px;
  
}