.card img{
    height: 220px;
    }
    .card{
        text-align: start;
        
    }
    .full-body{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .card-title{
    padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .service{
        width: 200px;
    }
    
    .service-btn{
        text-align: center;
    }